@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

@font-face {
    /* font-family: myFont;
    src: url(../../Assets/Fonts/AlexBrush/AlexBrush-Regular.ttf); */

    /* font-family: myFont2;
    src: url(../../Assets/Fonts/LightersDemo/Lighters\ DEMO.otf); */
    
    /* font-family: myFont3;
    src: url(../../Assets/Fonts/arsegzone/NCLArsegzone-Demo.otf); */
    
    font-family: myFont4;
    src: url(../../Assets/Fonts/AvegasRoyale/AvegasRoyale-Bold.ttf);
    
    /* font-family: myFont5;
    src: url(../../Assets/Fonts/balmecia/BalmeciaPersonalUse-Regular.otf); */
    
    /* font-family: myFont6;
    src: url(../../Assets/Fonts/celsiusFlower/Celsius\ Flower.otf); */
/*     
    font-family: myFont7;
    src: url(../../Assets/Fonts/leboumar/LeboumarPersonalUse-Regular.otf); */
}

/* *{
    margin: 0;
    padding: 0;
    overflow: hidden;
} */
.LogIn_background {
    background-image: url('../../Assets/Images/img1\ \(13\).jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw; 
    height: 100vh; 
}

.LogIn_interface-inner{
    padding: 4%;
    display: flex;
    justify-content: space-around;
}

.LogIn_text {
    padding: 5% 0;
    width: 60%;
}
.LogIn_text h2{
    color: rgba(97, 22, 16, 0.904);
    text-align: center;
    padding: 5% 15%;
    font-size:60px;
    /* font-weight: bold; */
    word-wrap: break-word;
    font-family: myFont4;
}
.LogIn_textBody{
    margin: 5% 10%;
} 

.LogIn_text p{
    color: rgba(97, 22, 16, 0.904);
    text-align: left;
    font-size: 25px;
    word-wrap: break-word;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 800;
    margin: 0 2%;
}

.LogIn_form{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    /* background-color: rgba(204, 198, 198, 0.774); */
    height: 85vh;
    padding: 2% 8% 10% 8%;
    border-radius: 15px;
    max-width: 50%;
}
.LogIn_formTop{
    text-align: center;
}
.LogIn_formTop .LogIn_logo img{
    width: 45%;
    padding: 0 0 15px 0;
}

.LogIn_formTop .LogIn_login > h1{
    font-family: myFont4;
    font-size: 45px;
    font-weight: 1000;
    color: rgb(46, 6, 6);
}
.LogIn_formBottom{
    display: flex;
    flex-direction: column;
    padding: 30px 0 0 0;
}
.LogIn_formBottom div{
    padding: 0 0 20px 0;
}
.LogIn_formBottom-Up{
    text-align: left;
    font-size: 15px;
}
/* .formBottom-Up > div > label{
    font-size: large;
    color: black;
} */
/* .LogIn_formBottom-Up #email, .LogIn_formBottom-Up #password{
    width: 270px;
    outline: none;
    border-radius: 5px;
    font-size: 15px;
    color: rgb(35, 35, 35);
} */
.LogIn_email > label, .LogIn_password > label{
    color: rgb(46, 6, 6);
    font-size: 20px;
    font-weight: 550;
}
#LogIn_email, #LogIn_password{
    height: 40px;
    border-radius: 10px;
    margin: 0 20px;
    width: 225px ;
    border: none;
    display: flex;
}
.LogIn_email > label, .LogIn_password > label, #LogIn_email, #LogIn_password{
    padding: 0 0 0 20px;
}
.LogIn_formBottom-Down{
    text-align: center;  
    align-items: center;  
}
.LogIn_forgot_sign_container{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.LogIn_forgot_sign_container > div > a{
    color: rgb(46, 6, 6);
}
.LogIn_forgot_sign_container > div > a:hover{
    color:  whitesmoke;
}

.LogIn_button button{
    padding: 12px 75px;
    border: none;
    border-radius: 10px;
    background-color: rgba(97, 22, 16, 0.904);
    color: rgb(255, 255, 255);
    font-size: small;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s background-color ease-in-out;
    align-items: center;
}
.LogIn_button :hover{
    background-color: rgb(46, 6, 6);
    transition: 0.3s background-color ease-in-out;
}
@media only screen and (max-width: 1300px){
    .LogIn_form{
        /* height: 60vh; */
        padding: 2% 8% 12% 8%;
    }
}
@media only screen and (max-width: 1260px){
    .LogIn_formTop .LogIn_login > h1{
        font-size: 43px;
    }
}
@media only screen and (max-width: 1200px){
    .LogIn_button button{
        padding: 10px 65px;
    }
}
@media only screen and (max-width: 1180px){
    .LogIn_form{
        /* height: 60vh; */
        padding: 3% 8% 13% 8%;
    }
}
@media only screen and (max-width: 1160px){
    .LogIn_form{
        margin-top: 20px;
    }
}
@media only screen and (max-width: 1120px){
    .LogIn_form{
        /* height: 60vh; */
        padding: 4% 8% 13% 7%;
        margin-top: 25px;
    }
    .LogIn_button button{
        padding: 10px 60px;
    }
    .LogIn_email > label, .LogIn_password > label{
        font-size: 19px;
    }
}
@media only screen and (max-width: 1070px){
    .LogIn_form{
        margin-top: 26px;
    }
    .LogIn_formTop .login > h1{
        font-size: 46px;
    }
}
@media only screen and (max-width: 1030px){
    .LogIn_form{
        margin-top: 28px;
    }
    .LogIn_formTop .LogIn_login > h1{
        font-size: 44px;
    }
}
@media only screen and (max-width: 950px){

    .LogIn_form{
        margin-top: 30px;
    }
    .LogIn_text h2{
        font-size:58px;
        padding: 6% 15%;
    }
    .LogIn_text p{
        font-size: 23px;
    }
    .LogIn_formTop .LogIn_login > h1{
        font-size: 42px;
    }
    .LogIn_email > label, .LogIn_password > label{
        font-size: 18px;
    }
    .LogIn_formBottom{
        display: flex;
        flex-direction: column;
        padding: 35px 0 0 0;
    }
    .LogIn_formTop .logo img{
        width: 45%;
        padding: 0 0 20px 0;
    }
    .LogIn_button button{
        padding: 10px 58px;
        margin-left: 12px;
    }
}
@media only screen and (max-width: 930px){
    .LogIn_text h2{
        font-size:56px;
    }
    .LogIn_text p{
        font-size: 22px;
    }
}
@media only screen and (max-width: 910px){
    .LogIn_text h2{
        font-size:54px;
        padding: 7% 15%;
    }
    .LogIn_formTop .logo img{
        width: 45%;
        padding: 0 0 23px 0;
    }
    .LogIn_formTop .login > h1{
        font-size: 40px;
    }
    .LogIn_button button{
        padding: 10px 56px;
        margin-left: 11px;
    }
}
@media only screen and (max-width: 875px){
    .LogIn_text h2{
        font-size:52px;
        padding: 8% 15%;
    }
    .LogIn_text p{
        font-size: 21px;
    }
    .LogIn_formTop {
        margin-left: 13px;
    }
    .LogIn_formTop .LogIn_logo img{
        width: 45%;
        padding: 0 0 25px 0;
    }
    .LogIn_formBottom{
        display: flex;
        flex-direction: column;
        padding: 40px 0 0 0;
    }
}
@media only screen and (max-width: 860px){
    .LogIn_text h2{
        font-size:50px;
        padding: 9% 15%;
    }
    .LogIn_text p{
        font-size: 20px;
    }
    .LogIn_button button{
        padding: 10px 55px;
    }
}
@media only screen and (max-width: 840px){
    .LogIn_text h2{
        font-size:50px;
        padding: 10% 15%;
    }
    .LogIn_text p{
        font-size: 19px;
    }
    .LogIn_formTop {
        margin-left: 15px;
    }
    .LogIn_formTop .LogIn_login > h1{
        font-size: 38px;
    }
}
@media only screen and (max-width: 800px){
    .LogIn_form{
        padding: 3% 8% 13% 4%;
    }
    .LogIn_form_container{
        padding: 17px 0 0 0;
    }
    .LogIn_forgot_sign_container{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 25px;
    }
    .LogIn_button button{
        padding: 10px 50px;
    }
}
@media only screen and (max-width: 760px){
    .LogIn_button button{
        padding: 10px 47px;
    }
    #LogIn_email, #LogIn_password{
        width: 210px;
    }
}
@media only screen and (max-width: 720px){
    .LogIn_button button{
        padding: 10px 45px;
    }
    #LogIn_email, #LogIn_password{
        width: 205px;
    }
}
@media only screen and (max-width: 700px)
{
    .LogIn_text{
        display: none;
    }
    .LogIn_form{
        /* height: 72vh; */
        max-width: 100%;
        padding: 2% 9% 10% 12%;
    }
    .LogIn_form_container{
        padding: 18px 0 0 0;
    }
    .LogIn_formTop .LogIn_logo img{
        width: 45%;
        padding: 0 0 10px 0;
    }
    .LogIn_formTop .LogIn_login > h1{
        font-size: 40px;
    }
    #LogIn_email, #LogIn_password{
        width: 255px;
    }
    .LogIn_button button{
        padding: 10px 60px;
        margin: 0 0 0 5px;
    }
}

@media only screen and (max-width: 650px)
{
    .LogIn_form{
        height: 90vh;
        margin-top: 10px;
    }
    .LogIn_form_container{
        padding: 19px 0 0 0;
    }
    .LogIn_formTop .LogIn_logo img{
        padding: 0 0 14px 0;
    }
    .formTop .login > h1{
        font-size: 48px;
    }
    #LogIn_email, #LogIn_password{
        padding: 0 0 0 20px;
        text-align: left;
    }
}
@media only screen and (max-width: 620px){
    .LogIn_form_container{
        padding: 20px 0 0 0;
    }
    .LogIn_formTop .LogIn_logo img{
        width: 48%;
        padding: 0 0 15px 0;
    }
    .LogIn_formTop .LogIn_login > h1{
        font-size: 40px;
    }
}
@media only screen and (max-width: 580px)
{
    .LogIn_form_container{
        padding: 25px 0 0 0;
    }
    .LogIn_formTop .LogIn_logo img{
        width: 47%;
    }
    .LogIn_formTop .LogIn_login > h1{
        font-size: 40px;
    }
}
@media only screen and (max-width: 560px)
{
    .LogIn_formTop .LogIn_login > h1{
        font-size: 44px;
    }
}
@media only screen and (max-width: 540px)
{
    .LogIn_form{
        padding: 5% 13% 8% 13%;
        /* height: 83vh; */
    }
    .LogIn_formTop{
        font-size: 43px;
        margin: 0 0 0 12px;
    }
}
@media only screen and (max-width: 520px)
{
    .LogIn_formTop .LogIn_login > h1{
        font-size: 40px;
    }
}
@media only screen and (max-width: 500px)
{
    .LogIn_form{
        padding: 5% 16% 8% 10%;
    }
    .LogIn_formTop{
        font-size: 43px;
    }
    #LogIn_email, #LogIn_password{
        border-radius: 7px;
    }
}
@media only screen and (max-width: 460px){
    .LogIn_button button{
        padding: 10px 50px;
        margin: 0 0 0 14px;
    }
}
@media only screen and (max-width: 440px){
    .LogIn_formTop .LogIn_logo img{
        margin: 0 21px;
    }
    .LogIn_formTop .LogIn_login > h1{
        font-size: 38px;
    }
    .LogIn_button button{
        padding: 10px 41px;
        margin: 10px 0 0 10px;
    }
}
@media only screen and (max-width: 420px){
    .LogIn_formTop .LogIn_logo img{
        margin: 0 22px;
    }
    #LogIn_email, #LogIn_password{
        width: 240px;
    }
    .LogIn_button button{
        padding: 10px 38px;
        font-size: 12px;
    }
}
@media only screen and (max-width: 400px){
    #LogIn_email, #LogIn_password{
        width: 235px;
    }
}
@media only screen and (max-width: 380px){
    .LogIn_form{
        padding: 2% 16% 12% 10%;
    }
    .LogIn_formTop .LogIn_logo img{
        margin: 0 23px;
    }
    #LogIn_email, #LogIn_password{
        width: 220px;
    }
}
@media only screen and (max-width: 360px){
    .LogIn_email > label, .LogIn_password > label{
        font-size: 17px;
    }
    .LogIn_formTop .LogIn_logo img{
        width: 55%;
        margin: 10px 24px;
    }
    .LogIn_email > label, .LogIn_password > label{
        margin: 0 0 0 7%;
        font-size: 17px;
    }
    #LogIn_email, #LogIn_password{
        width: 178px;
        height: 40px;
        margin: 0 0 0 14%;
    }
}
@media only screen and (max-width: 340px){

    .LogIn_formTop .LogIn_login > h1{
        font-size: 38px;
    }
    .LogIn_formTop .LogIn_logo img{
        width: 56%;
        margin: 10px 25px;
    }
    #LogIn_email, #LogIn_password{
        width: 168px;
    }
}
@media only screen and (max-width: 320px){
    .LogIn_form{
        height: 92vh;
    }
    .LogIn_email > label, .LogIn_password > label{
        font-size: 16px;
    }
    #LogIn_email, #LogIn_password{
        width: 160px;
    }
}
@media only screen and (max-width: 300px){
    .LogIn_email > label, .LogIn_password > label{
        font-size: 15px;
    }
}
@media only screen and (max-width: 290px){
    #LogIn_email, #LogIn_password{
        width: 142px;
    }
    .LogIn_email > label, .LogIn_password > label{
        font-size: 14px;
    }
}

@media only screen and (max-width: 280px){
    #LogIn_email, #LogIn_password{
        width: 136px;
    }
    .LogIn_email > label, .LogIn_password > label{
        font-size: 13px;
    }
}
@media only screen and (max-width: 270px){
    #LogIn_email, #LogIn_password{
        width: 130px;
    }
}
@media only screen and (max-width: 260px){
    #LogIn_email, #LogIn_password{
        width: 124px;
    }
}
@media only screen and (max-width: 250px){
    #LogIn_email, #LogIn_password{
        width: 118px;
    }
}


