@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

@font-face {
    /* font-family: myFont;
    src: url(../../Assets/Fonts/AlexBrush/AlexBrush-Regular.ttf); */

    /* font-family: myFont2;
    src: url(../../Assets/Fonts/LightersDemo/Lighters\ DEMO.otf); */
    
    /* font-family: myFont3;
    src: url(../../Assets/Fonts/arsegzone/NCLArsegzone-Demo.otf); */
    
    font-family: myFont4;
    src: url(../../Assets/Fonts/AvegasRoyale/AvegasRoyale-Bold.ttf);
    
    /* font-family: myFont5;
    src: url(../../Assets/Fonts/balmecia/BalmeciaPersonalUse-Regular.otf); */
    
    /* font-family: myFont6;
    src: url(../../Assets/Fonts/celsiusFlower/Celsius\ Flower.otf); */
/*     
    font-family: myFont7;
    src: url(../../Assets/Fonts/leboumar/LeboumarPersonalUse-Regular.otf); */
}

/* *{
    margin: 0;
    padding: 0;
    overflow: hidden;
} */
.SignUp_background {
    background-image: url('../../Assets/Images/img1\ \(13\).jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw; 
    height: 100vh; 
}

.SignUp_interface-inner{
    padding: 5%;
    display: flex;
    justify-content: space-around;
}

.SignUp_text{
    padding: 5% 0;
    width: 40%;
}
.SignUp_text h2{
    color: rgba(97, 22, 16, 0.904);
    text-align: center;
    padding: 5% 15%;
    font-size:60px;
    /* font-weight: bold; */
    word-wrap: break-word;
    font-family: myFont4;
}
.SignUp_textBody{
    margin: 5% 10%;
} 

.SignUp_text p{
    color: rgba(97, 22, 16, 0.904);
    text-align: left;
    font-size: 25px;
    word-wrap: break-word;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 800;
    margin: 0 2%;
}

.SignUp_form{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    /* background-color: rgba(204, 198, 198, 0.774); */
    height: 60vh;
    padding: 10px;
    border-radius: 15px;
    max-width: 100%;
    height: 82vh;
}
.SignUp_formTop{
    text-align: center;
}
.SignUp_formTop .SignUp_logo img{
    width: 25%;
    padding: 0 0 15px 0;
}
.SignUp_formTop .SignUp_login > h1{
    font-family: myFont4;
    font-size: 40px;
    font-weight: 1000;
    color: rgb(46, 6, 6);
    padding: 0 0 30px 0;
}
.SignUp_formBottom div{
    padding: 0 0 20px 0;
}
.SignUp_formBottom-Up{
    display: flex;
    justify-content: space-between;
}
.SignUp_email > label, .SignUp_password > label, .SignUp_username > label, .SignUp_fullName > label{
    color: rgb(46, 6, 6);
    font-size: 20px;
    font-weight: 550;
}
.SignUp_email > label, .SignUp_password > label, .SignUp_username > label, .SignUp_fullName > label,#SignUp_email, #SignUp_password, #SignUp_username, #SignUp_fullname{
    margin: 0 30px 0 30px;
}
#SignUp_email, #SignUp_password, #SignUp_username, #SignUp_fullname{
    height: 40px;
    border-radius: 10px;
    width: 220px ;
    border: none;
    display: flex;
    padding: 0 0 0 15px;
}
.SignUp_formBottom-Down{
    text-align: center;    
}
.SignUp_forgot_sign_container{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.SignUp_forgot_sign_container > div > a{
    color: rgb(46, 6, 6);
}
.SignUp_forgot_sign_container > div > a:hover{
    color:  whitesmoke;
    transition: 0.3s color ease-in-out;
}
.SignUp_button button{
    padding: 15px 80px;
    border: none;
    border-radius: 10px;
    background-color: rgba(97, 22, 16, 0.904);
    color: rgb(255, 255, 255);
    font-size: small;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s background-color ease-in-out;
    align-items: center;
}
.SignUp_button :hover{
    background-color: rgb(46, 6, 6);
    transition: 0.3s background-color ease-in-out;
}
@media only screen and (max-width: 1200px){
    .SignUp_text h2{
        font-size:58px;
    }
    .SignUp_text p{
        font-size: 23px;
    }
    .SignUp_formTop .SignUp_login > h1{
        font-size: 39px;
    }
    .SignUp_form{
        padding: 10px;
        border-radius: 15px;
        max-width: 100%;
        height: 82vh;
    }
    #SignUp_email, #SignUp_password, #SignUp_username, #SignUp_fullname{
        /* margin: 0 40px 0 15px; */
        margin: 0 30px 0 30px;
        width: 215px ;
    }
}
@media only screen and (max-width: 1150px){
    .SignUp_text h2{
        font-size:56px;
    }
    .SignUp_text p{
        font-size: 22px;
    }
    .SignUp_formTop .SignUp_logo img{
        margin: 24px 0 0 0;
    }
    .SignUp_email > label, .SignUp_password > label, .SignUp_username > label, .SignUp_fullName > label,#SignUp_email, #SignUp_password, #SignUp_username, #SignUp_fullname{
        margin: 0 45px 0 18px;
    }
    #SignUp_email, #SignUp_password, #SignUp_username, #SignUp_fullname{
        width: 194px ;
    }
    .SignUp_button button{
        padding: 15px 78px;
    }
}
@media only screen and (max-width: 1100px){
    .SignUp_formTop .SignUp_logo img{
        width: 23%;
        margin: 15px 0 0 0;
    }
    .SignUp_formTop .SignUp_login > h1{
        font-size: 38px;
    }
    .SignUp_email > label, .SignUp_fullName > label,#SignUp_email, #SignUp_password, #SignUp_username, #SignUp_fullname{
        margin: 0 40px 0 25px;
        /* width: 190px ; */
    }
    #SignUp_password, #SignUp_username{
        margin: 0 55px 0 15px;
    }
    .SignUp_button button{
        padding: 15px 75px;
    }
}
@media only screen and (max-width: 1080px){
    .SignUp_formTop .SignUp_logo img{
        margin: 20px 0 0 0;
    }
    .SignUp_email > label, .SignUp_password > label, .SignUp_username > label, .SignUp_fullName > label{
        font-size: 18px;
    }
    .SignUp_email > label, .SignUp_password > label, .SignUp_username > label, .SignUp_fullName > label, #SignUp_email, #SignUp_password, #SignUp_username, #SignUp_fullname{
        margin: 0 35px 0 13px;
        width: 190px ;
    }
}
@media only screen and (max-width: 1060px){
    #SignUp_email, #SignUp_password, #SignUp_username, #SignUp_fullname{
        margin: 0 33px 0 13px;
        width: 180px ;
    }
    .SignUp_button button{
        padding: 15px 70px;
    }
}
@media only screen and (max-width: 1040px){
    .SignUp_form{
        height: 83vh;
    }
    .SignUp_formTop .SignUp_logo img{
        margin: 25px 0 0 0;
        width: 26%;
    }
    .SignUp_formTop .SignUp_login > h1{
        font-size: 38px;
    }
    #SignUp_email, #SignUp_password, #SignUp_username, #SignUp_fullname{
        margin: 0 28px 0 15px;
        width: 175px ;
    }
}
@media only screen and (max-width: 950px){
    .SignUp_form{
        height: 84vh;
    }
    .SignUp_text h2{
        font-size:55px;
    }
    .SignUp_text p{
        font-size: 21px;
    }
    .SignUp_form{
        height: 84vh;
    }
    .SignUp_button button{
        padding: 15px 68px;
    }
}
@media only screen and (max-width: 920px){
    .SignUp_text{
        padding: 5% 0;
        width: 45%;
    }
    .SignUp_text h2{
        font-size:50px;
        margin: 18px 0 0 0;
    }
    .SignUp_formTop .SignUp_logo img{
        margin: 35px 0 0 0;
    }
}
@media only screen and (max-width: 850px){
    .SignUp_form{
        height: 86vh;
    }
    .SignUp_text h2{
        font-size:46px;
        margin: 25px 0 0 0;
    }
    .SignUp_text p{
        font-size: 20px;
        margin: 20px 0 0 0;
    }
    .SignUp_formTop .SignUp_logo img{
        margin: 45px 0 0 0;
        width: 26%;
    }
    .SignUp_email > label, .SignUp_password > label, .SignUp_username > label, .SignUp_fullName > label{
        font-size: 17px;
    }
    #SignUp_email, #SignUp_password, #SignUp_username, #SignUp_fullname{
        width: 170px ;
    }
    .SignUp_button button{
        padding: 15px 65px;
    }
}
@media only screen and (max-width: 800px){
    .SignUp_formTop .SignUp_logo img{
        margin: 50px 0 0 0;
    }
    .SignUp_text h2{
        font-size:44px;
        margin: 25px 0 0 0;
    }
    #SignUp_email, #SignUp_password, #SignUp_username, #SignUp_fullname{
        width: 165px ;
    }
    .SignUp_button button{
        padding: 14px 63px;
    }
}
@media only screen and (max-width: 750px){
    .SignUp_formBottom-Up{
        display: flex;
        flex-direction: column;
    }
    .SignUp_email > label, .SignUp_password > label, .SignUp_username > label, .SignUp_fullName > label{
        font-size: 17px;
        text-align: center;
    }
    .SignUp_email > label, .SignUp_password > label, .SignUp_username > label, .SignUp_fullName > label, #SignUp_email, #SignUp_password, #SignUp_username, #SignUp_fullname{
        margin: 0 0 0 40px;
    }
    #SignUp_email, #SignUp_password, #SignUp_username, #SignUp_fullname{
        width: 200px;
        text-align: left;
        height: 35px;
    }
    .SignUp_full_email, .SignUp_user_pass{
        margin-bottom: -20px;
    }
    .SignUp_button button{
        padding: 14px 40px;
    }
    .SignUp_formTop .SignUp_logo img{
        width: 35%;
        margin: 0;
    }
    .SignUp_formTop .SignUp_login > h1{
        font-size: 30px;
        padding: 0 0 20px 0;
    }
    .SignUp_forgot_sign_container{
        margin-top: 10px;
    }
}
@media only screen and (max-width: 700px){
    .SignUp_text{
        display: none;
    }
    .SignUp_form{
        padding: 10px;
        border-radius: 15px;
        width: 100%;
        height: 85vh;
    }
    .SignUp_formTop .SignUp_logo img{
        width: 25%;
        padding: 0 0 25px 0;
    }
    .SignUp_formTop .SignUp_login > h1{
        font-family: myFont4;
        font-size: 40px;
        font-weight: 1000;
        color: rgb(46, 6, 6);
        padding: 0 0 40px 0;
    }
    .SignUp_formBottom-Up{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .SignUp_email > label, .SignUp_password > label, .SignUp_username > label, .SignUp_fullName > label{
        font-size: 20px;
    }
    .SignUp_email > label, .SignUp_password > label, .SignUp_username > label, .SignUp_fullName > label, #SignUp_email, #SignUp_password, #SignUp_username, #SignUp_fullname{
        margin: 0 30px;
    }
    #SignUp_email, #SignUp_password, #SignUp_username, #SignUp_fullname{
        height: 45px;
        width: 230px ;
        padding: 0 0 0 15px;
    }
    .SignUp_fullName, .SignUp_username{
        margin: 0 0 10px 0;
    }
    .SignUp_email, .SignUp_password{
        margin: 0 0 20px 0;
    }

    .SignUp_button button{
        padding: 15px 80px;
        border-radius: 10px;
    }
}
@media only screen and (max-width: 675px){
    .SignUp_formTop .SignUp_logo img{
        width: 25%;
        padding: 5px 0 25px 0;
    }
    #SignUp_email, #SignUp_password, #SignUp_username, #SignUp_fullname{
        width: 223px ;
    }
    .SignUp_button button{
        padding: 15px 77px;
        border-radius: 10px;
    }
}
@media only screen and (max-width: 650px){
    .SignUp_formTop .SignUp_logo img{
        padding: 15px 0 25px 0;
    }
    .SignUp_form{
        height: 87vh;
    }
    .SignUp_email > label, .SignUp_password > label, .SignUp_username > label, .SignUp_fullName > label,#SignUp_email, #SignUp_password, #SignUp_username, #SignUp_fullname{
        width: 217px ;
        margin: 0 25px;
    }
    .SignUp_button button{
        padding: 15px 74px;
        border-radius: 10px;
    }
}
@media only screen and (max-width: 625px){
    .SignUp_formTop .SignUp_logo img{
        padding: 20px 0 25px 0;
    }
    .SignUp_formTop .SignUp_login > h1{
        font-size: 39px;
    }
    #SignUp_email, #SignUp_password, #SignUp_username, #SignUp_fullname{
        width: 210px ;
    }
    .SignUp_button button{
        padding: 15px 70px;
        border-radius: 10px;
    }
}
@media only screen and (max-width: 600px){
    .SignUp_email > label, .SignUp_password > label, .SignUp_username > label, .SignUp_fullName > label,#SignUp_email, #SignUp_password, #SignUp_username, #SignUp_fullname{
        width: 200px ;
        margin: 0 20px;
        height: 40px;
    }
    .SignUp_button button{
        padding: 15px 66px;
        border-radius: 10px;
    }
}
@media only screen and (max-width: 575px){
    .SignUp_formTop .SignUp_logo img{
        padding: 25px 0 25px 0;
    }
    #SignUp_email, #SignUp_password, #SignUp_username, #SignUp_fullname{
        width: 195px ;
    }
    .SignUp_button button{
        padding: 15px 63px;
        border-radius: 10px;
    }
}
@media only screen and (max-width: 550px){
    .SignUp_formTop .SignUp_logo img{
        padding: 25px 0 20px 0;
        width: 27%;
    }
    .SignUp_email > label, .SignUp_password > label, .SignUp_username > label, .SignUp_fullName > label, #SignUp_email, #SignUp_password, #SignUp_username, #SignUp_fullname{
        width: 190px ;
        margin: 0 15px;
    }
    .SignUp_button button{
        padding: 15px 60px;
        border-radius: 10px;
    }
}
@media only screen and (max-width: 525px){
    .SignUp_formTop .SignUp_logo img{
        padding: 30px 0 25px 0;
        width: 28%;
    }
    .SignUp_formTop .SignUp_login > h1{
        font-size: 38px;
    }
    .SignUp_email > label, .SignUp_password > label, .SignUp_username > label, .SignUp_fullName > label, #SignUp_email, #SignUp_password, #SignUp_username, #SignUp_fullname{
        width: 183px ;
        margin: 0 13px;
    }
    .SignUp_button button{
        padding: 15px 57px;
    }
}
@media only screen and (max-width: 500px){
    .SignUp_formTop .SignUp_logo img{
        padding: 35px 0 25px 0;
    }
    .SignUp_email > label, .SignUp_password > label, .SignUp_username > label, .SignUp_fullName > label, #SignUp_email, #SignUp_password, #SignUp_username, #SignUp_fullname{
        width: 176px ;
        margin: 0 10px;
    }
    .SignUp_button button{
        padding: 15px 55px;
    }
}
@media only screen and (max-width: 475px){
    .SignUp_formTop .SignUp_logo img{
        padding: 35px 0 25px 0;
        width: 29%;
    }
    #SignUp_email, #SignUp_password, #SignUp_username, #SignUp_fullname{
        width: 165px ;
        margin: 0 10px;
    }
    .SignUp_button button{
        padding: 15px 55px;
    }
}
@media only screen and (max-width: 450px){
    .SignUp_form{
        height: 90vh;
    }
    .SignUp_formTop .SignUp_logo img{
        padding: 8px 0 0 0;
        /* width: 20%; */
    }
    .SignUp_formBottom-Up{
        display: flex;
        flex-direction: column;
    }
    .SignUp_email > label, .SignUp_password > label, .SignUp_username > label, .SignUp_fullName > label, #SignUp_email, #SignUp_password, #SignUp_username, #SignUp_fullname{
        width: 250px;
        text-align: left;
        margin: 0 0 0 60px;
    }
    .SignUp_full_email, .SignUp_user_pass{
        margin-bottom: -50px;
    }
    .SignUp_fullName, .SignUp_username{
        margin-bottom: -10px;
    }
    .SignUp_button button{
        padding: 14px 40px;
    }
    .SignUp_formTop .SignUp_logo img{
        width: 30%;
        margin: 10px 0 5px 0;
    }
    .SignUp_formTop .SignUp_login > h1{
        font-size: 30px;
        padding: 0 0 20px 0;
    }
    .SignUp_button button{
        padding: 13px 60px;
        margin-top: 5px;
    }
}
@media only screen and (max-width: 445px){
    .SignUp_email > label, .SignUp_password > label, .SignUp_username > label, .SignUp_fullName > label, #SignUp_email, #SignUp_password, #SignUp_username, #SignUp_fullname{
        margin: 0 0 0 55px;
    }
}
@media only screen and (max-width: 440px){
    .SignUp_email > label, .SignUp_password > label, .SignUp_username > label, .SignUp_fullName > label, #SignUp_email, #SignUp_password, #SignUp_username, #SignUp_fullname{
        margin: 0 0 0 50px;
    }
    .SignUp_button button{
        padding: 13px 56px;
        margin-top: 15px;
    }
}
@media only screen and (max-width: 435px){
    .SignUp_email > label, .SignUp_password > label, .SignUp_username > label, .SignUp_fullName > label, #SignUp_email, #SignUp_password, #SignUp_username, #SignUp_fullname{
        margin: 0 0 0 45px;
    }
}
@media only screen and (max-width: 430px){
    .SignUp_email > label, .SignUp_password > label, .SignUp_username > label, .SignUp_fullName > label, #SignUp_email, #SignUp_password, #SignUp_username, #SignUp_fullname{
        margin: 0 0 0 40px;
    }
    .SignUp_button button{
        padding: 13px 52px;
        margin-top: 10px;
    }
}
@media only screen and (max-width: 425px){
    #SignUp_email, #SignUp_password, #SignUp_username, #SignUp_fullname{
        margin: 0 0 0 35px;
    }
}
@media only screen and (max-width: 400px){
    .SignUp_formTop .SignUp_login > h1{
        font-size: 33px;
    }
}
@media only screen and (max-width: 385px){
    #SignUp_email, #SignUp_password, #SignUp_username, #SignUp_fullname{
        width: 240px;
    }
    .SignUp_button button{
        padding: 15px 48px;
        margin-top: 20px;
    }
}
@media only screen and (max-width: 375px){
    #SignUp_email, #SignUp_password, #SignUp_username, #SignUp_fullname{
        width: 235px;
    }
}
@media only screen and (max-width: 355px){
    .SignUp_email > label, .SignUp_password > label, .SignUp_username > label, .SignUp_fullName > label, #SignUp_email, #SignUp_password, #SignUp_username, #SignUp_fullname{
        width: 230px;
        margin: 0 0 0 25px;
    }
}
@media only screen and (max-width: 345px){
    #SignUp_email, #SignUp_password, #SignUp_username, #SignUp_fullname{
        width: 225px;
        margin: 0 0 0 25px;
    }
    .SignUp_button button{
        padding: 13px 46px;
        margin-top: 20px;
    }
}
@media only screen and (max-width: 335px){
    .SignUp_email > label, .SignUp_password > label, .SignUp_username > label, .SignUp_fullName > label, #SignUp_email, #SignUp_password, #SignUp_username, #SignUp_fullname{
        width: 220px;
        margin: 0 0 0 20px;
    }
}
@media only screen and (max-width: 325px){
    .SignUp_email > label, .SignUp_password > label, .SignUp_username > label, .SignUp_fullName > label, #SignUp_email, #SignUp_password, #SignUp_username, #SignUp_fullname{
        width: 215px;
        margin: 0 0 0 15px;
    }
    .SignUp_button button{
        padding: 13px 44px;
        margin-top: 20px;
    }
}
@media only screen and (max-width: 315px){
    .SignUp_email > label, .SignUp_password > label, .SignUp_username > label, .SignUp_fullName > label, #SignUp_email, #SignUp_password, #SignUp_username, #SignUp_fullname{
        width: 210px;
        margin: 0 0 0 10px;
    }
    
}
@media only screen and (max-width: 300px){
    #SignUp_email, #SignUp_password, #SignUp_username, #SignUp_fullname{
        width: 205px;
    }
}
@media only screen and (max-width: 290px){
    #SignUp_email, #SignUp_password, #SignUp_username, #SignUp_fullname{
        width: 198px;
        height: 35px;
    }
    .SignUp_button button{
        padding: 13px 42px;
        margin-top: 10px;
    }
    .SignUp_forgot_sign_container{
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    }
}
@media only screen and (max-width: 280px){
    #SignUp_email, #SignUp_password, #SignUp_username, #SignUp_fullname{
        width: 193px;
    }
    
}
@media only screen and (max-width: 275px){
    #SignUp_email, #SignUp_password, #SignUp_username, #SignUp_fullname{
        width: 188px;
    }
    .SignUp_button button{
        padding: 13px 40px;
        margin-top: 20px;
    }
}
@media only screen and (max-width: 265px){
    #SignUp_email, #SignUp_password, #SignUp_username, #SignUp_fullname{
        width: 183px;
    }
}
@media only screen and (max-width: 255px){
    #SignUp_email, #SignUp_password, #SignUp_username, #SignUp_fullname{
        width: 178px;
    }
    .SignUp_button button{
        padding: 13px 38px;
        margin-top: 20px;
    }
}