@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

@font-face {
    /* font-family: myFont;
    src: url(../../Assets/Fonts/AlexBrush/AlexBrush-Regular.ttf); */

    /* font-family: myFont2;
    src: url(../../Assets/Fonts/LightersDemo/Lighters\ DEMO.otf); */
    
    /* font-family: myFont3;
    src: url(../../Assets/Fonts/arsegzone/NCLArsegzone-Demo.otf); */
    
    font-family: myFont4;
    src: url(../../Assets/Fonts/AvegasRoyale/AvegasRoyale-Bold.ttf);
    
    /* font-family: myFont5;
    src: url(../../Assets/Fonts/balmecia/BalmeciaPersonalUse-Regular.otf); */
    
    /* font-family: myFont6;
    src: url(../../Assets/Fonts/celsiusFlower/Celsius\ Flower.otf); */
/*     
    font-family: myFont7;
    src: url(../../Assets/Fonts/leboumar/LeboumarPersonalUse-Regular.otf); */
}

