@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

body {
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
    padding: 0;
}

.FAQs_container {
    background: linear-gradient(180deg, rgba(25, 132, 134, 0.849), rgba(71, 49, 196, 0.788));
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.FAQs_containerBox {
    display: flex;
    justify-content:space-between;
    margin: 80px 0;
    max-width: 1200px;
    width: 100%;
    align-items: center;
}

.FAQs_containerBoxLeftSide {
    flex: 0 0 35%; /* 35% width */
    background-image: url('../../Assets/Images/img1 (7).jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    height: 60vh;
    margin-top: 80px;
}

.FAQs_containerBoxRightSide {
    flex: 0 0 60%; /* 65% width */
    margin-left: 30px;
}

.FAQs_containerBoxRightSideHead p {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
}

.FAQs_containerBoxRightSideBody {
    color: rgb(202, 202, 202);
}

@media only screen and (max-width: 1300px) {
    .FAQs_containerBox {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 1200px) {
    .FAQs_containerBoxLeftSide {
        height: 55vh;
    }

    .FAQs_containerBoxRightSideHead p {
        font-size: 35px;
    }
}

@media only screen and (max-width: 990px) {
    .FAQs_container {
        padding: 0px;
    }
    .FAQs_containerBox {
        padding: 0 auto;
        flex-direction: column;
        align-items: center;
    }

    .FAQs_containerBoxRightSide {
        width: 90%;
        margin-left: 0;
    }
}

@media only screen and (max-width: 768px) {
    .FAQs_containerBoxLeftSide {
        height: 30vh;
    }

    .FAQs_containerBoxRightSideHead p {
        font-size: 30px;
    }

    .FAQs_containerBoxRightSideBody {
        font-size: 14px;
    }
}

@media only screen and (max-width: 576px) {
    .FAQs_containerBoxLeftSide {
        width: 100%;
        height: 25vh;
    }

    .FAQs_containerBoxRightSide {
        width: 100%;
        margin-top: 20px;
    }

    .FAQs_containerBoxRightSideHead p {
        font-size: 25px;
    }

    .FAQs_containerBoxRightSideBody {
        font-size: 12px;
    }
}

@media only screen and (max-width: 400px) {
    .FAQs_containerBoxLeftSide {
        height: 20vh;
    }

    .FAQs_containerBoxRightSideHead p {
        font-size: 20px;
    }
}








/* @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

@font-face {
    font-family: myFont;
    src: url(../../Assets/Fonts/AlexBrush/AlexBrush-Regular.ttf);

    font-family: myFont2;
    src: url(../../Assets/Fonts/LightersDemo/Lighters\ DEMO.otf);
    
    font-family: myFont3;
    src: url(../../Assets/Fonts/arsegzone/NCLArsegzone-Demo.otf);
    
    font-family: myFont5;
    src: url(../../Assets/Fonts/balmecia/BalmeciaPersonalUse-Regular.otf);
    
    font-family: myFont6;
    src: url(../../Assets/Fonts/celsiusFlower/Celsius\ Flower.otf);
    
    font-family: myFont7;
    src: url(../../Assets/Fonts/leboumar/LeboumarPersonalUse-Regular.otf);
}


.FAQs_container{
    background: linear-gradient(180deg, rgba(25, 132, 134, 0.849), rgba(71, 49, 196, 0.788));
    overflow-y: hidden;
}

.FAQs_containerBox{
    margin: 100px 50px;
}

.FAQs_containerBoxLeftSide{
    position:absolute;
    background-image: url('../../Assets/Images/img1 (7).jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 25%;
    height: 50%;
    border-radius: 10px;
    margin: 20px 0;
    z-index: 1;
}

.FAQs_containerBoxLeftSideTransparent{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(12, 44, 77, 0.5), rgba(90, 19, 112, 0.548));
    border-radius: 5px;
}

.FAQs_containerBoxRightSide{
    margin-left: 550px;
}

.FAQs_containerBoxRightSideHead p{
    font-size: 40px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

.FAQs_containerBoxRightSideBody{
    color: rgb(202, 202, 202);
    max-width: 100%;
    margin-right: 10px;
}

.FAQs_containerBoxRightSideBodyQuestion{
    display: flex;
    justify-content: space-between;
    font-size: 40px;
    font-weight: bold;
    margin-top: 30px;
}

.FAQs_Question{
    margin-right: 50px;
}

.FAQs_Icon{
    margin-right: 20px;
    width: 25px;
}

.FAQs_Icon:hover{
    color: grey;
    cursor: pointer;
}

.FAQs_containerBoxRightSideBodyAnswer{
    margin: 20px 0 20px 10px;
}


@media only screen and (max-width: 1300px){
    .FAQs_containerBoxRightSideHead p{
        font-size: 38px;
    }
    .FAQs_containerBox{
        margin: 95px 50px;
    }
    .FAQs_containerBoxRightSide{
        margin-left: 510px;
    }
    .FAQs_containerBoxLeftSide{
        margin: 50px 0;
    }
}

@media only screen and (max-width: 1250px){
    .FAQs_containerBoxRightSideHead p{
        font-size: 37px;
    }
    .FAQs_containerBox{
        margin: 90px 50px;
    }
    .FAQs_containerBoxRightSide{
        margin-left: 500px;
    }
}

@media only screen and (max-width: 1200px){
    .FAQs_containerBoxRightSideHead p{
        font-size: 36px;
    }
    .FAQs_containerBox{
        margin: 90px 40px;
    }
    .FAQs_containerBoxRightSide{
        margin-left: 450px;
    }
}

@media only screen and (max-width: 1150px){
    .FAQs_containerBox{
        margin: 70px 40px;
    }
    .FAQs_containerBoxRightSideHead p{
        font-size: 35px;
    }
    .FAQs_containerBoxRightSide{
        margin-left: 420px;
    }
}

@media only screen and (max-width: 1100px){
    .FAQs_containerBox{
        margin: 60px 20px;
    }
    .FAQs_containerBoxRightSideHead p{
        font-size: 30px;
    }
    .FAQs_containerBoxRightSide{
        margin-left: 400px;
    }
}

@media only screen and (max-width: 1000px){
    .FAQs_containerBoxLeftSide{
        height: 77%;
    }
    .FAQs_containerBoxRightSide{
        margin-left: 370px;
    }
}
@media only screen and (max-width: 950px){
    .FAQs_containerBox{
        margin: 50px 20px;
    }
    .FAQs_containerBoxRightSide{
        margin-left: 345px;
    }
    .FAQs_containerBoxLeftSide{
        height: 78%;
    }
}
@media only screen and (max-width: 900px){
    .FAQs_containerBoxLeftSide{
        display: none;
    }
    .FAQs_containerBoxRightSide{
        margin-left: 0;
    }
    .FAQs_containerBox{
        margin: 100px 50px;
    }
}
@media only screen and (max-width: 750px){
    .FAQs_containerBox{
        margin: 80px 50px 70px 50px;
    }
}

@media only screen and (max-width: 600px){
    .FAQs_containerBox{
        margin: 80px 40px 60px 40px;
    }
}

@media only screen and (max-width: 450px){
    .FAQs_containerBox{
        margin: 80px 30px 50px 30px;
    }
}

@media only screen and (max-width: 350px){
    .FAQs_containerBox{
        margin: 80px 20px 50px 20px;
    }
}

@media only screen and (max-width: 300px){
    .FAQs_containerBox{
        margin: 80px 15px 40px 15px;
    }
} */
