@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

@font-face {
    font-family: myFont;
    src: url(../../Assets/Fonts/AlexBrush/AlexBrush-Regular.ttf);

    font-family: myFont2;
    src: url(../../Assets/Fonts/LightersDemo/Lighters\ DEMO.otf);
    
    font-family: myFont3;
    src: url(../../Assets/Fonts/arsegzone/NCLArsegzone-Demo.otf);
    
    font-family: myFont5;
    src: url(../../Assets/Fonts/balmecia/BalmeciaPersonalUse-Regular.otf);
    
    font-family: myFont6;
    src: url(../../Assets/Fonts/celsiusFlower/Celsius\ Flower.otf);
    
    font-family: myFont7;
    src: url(../../Assets/Fonts/leboumar/LeboumarPersonalUse-Regular.otf);
}

.contactUs_container{
    /* background: linear-gradient(90deg, rgb(15, 84, 85), rgba(40, 21, 151, 0.836)); */
    background: linear-gradient(180deg, rgba(25, 132, 134, 0.849), rgba(71, 49, 196, 0.788));
    overflow: hidden;
}
.contactUs_containerBox{
    margin: 100px 50px 0 50px;
}
.contactUs_form_map{
    display: flex;
    justify-content: center;
}
.contactUs_formMain{
    background-color: rgb(230, 237, 238);
    padding: 20px 40px;
}

.contactUs_form > :first-child{
    margin: 20px 0;
}
.contactUs_form > :not(:first-child){
    margin-bottom: 15px;
}

.contactUs_Heading p{
    font-size: 28px;
    font-weight: bold;
}

.contactUs_nameEmail{
    display: flex;
}
.contactUs_Email{
    margin-left: 25px;
}

.contactUs_Name, .contactUs_Email, .contactUs_Subject, .contactUs_Message{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: bold;
}
.contactUs_Name>label, .contactUs_Email>label, .contactUs_Subject>label, .contactUs_Message>label{
    margin-bottom: 10px;
}

.contactUs_NameInputBar, .contactUs_EmailInputBar, .contactUs_SubjectInputBar, .contactUs_MessageInputBar{
    padding: 10px;
    border: none;
    outline: none;
}

.contactUs_button button{
    padding: 12px 8px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: rgb(15, 52, 102);
    transition: background-color 0.3s ease;
    font-size: 11px;
}

.contactUs_button button:hover{
    background-color: rgb(4, 19, 37);
}

.contactUs_map{
    margin: 20px 0;
    overflow: hidden;
}
.contactUs_map iframe{
    width:500px;
    height:500px;
}
.contactUs_contacts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 40px 30px 0 30px;
    align-items: center;
    text-align: center;
}

.contactUs_contactsIcon{
    font-size: 15px;
    color: rgb(15, 52, 102);
    padding: 15px;
    border-radius: 50%;
    background-color: rgb(230, 237, 238);
    display: inline-block;
}
.contactUs_contactsText{
    text-align: center;
    color: rgb(230, 237, 238);
}
.contactUs_contactsTextHeading{
    font-size: 16px;
    font-weight: bold;
}
.contactUs_contactsTextBody{
    width: 200px;
}

@media only screen and (max-width: 1200px){
    .contactUs_Heading p{
        font-size: 27px;
    }
    .contactUs_Name, .contactUs_Email, .contactUs_Subject, .contactUs_Message{
        font-size: 15px;
    }
}
@media only screen and (max-width: 1150px){
    .contactUs_map iframe{
        width:450px;
        height:580px;
    }
    .contactUs_nameEmail{
        display: flex;
        flex-direction: column;
    }
    .contactUs_NameInputBar{
        margin-bottom: 15px;
    }
    .contactUs_Email{
        margin-left: 0;
    }
    .contactUs_NameInputBar, .contactUs_EmailInputBar, .contactUs_SubjectInputBar, .contactUs_MessageInputBar{
        width: 400px;
    }
}
@media only screen and (max-width: 1050px){
    .contactUs_map iframe{
        width:430px;
        height:580px;
    }
    .contactUs_NameInputBar, .contactUs_EmailInputBar, .contactUs_SubjectInputBar, .contactUs_MessageInputBar{
        width: 370px;
    }
    
    .contactUs_Message textarea{
        height: 100px;
    }
}

@media only screen and (max-width: 1000px){
    .contactUs_map iframe{
        width:410px;
    }
    .contactUs_NameInputBar, .contactUs_EmailInputBar, .contactUs_SubjectInputBar, .contactUs_MessageInputBar{
        width: 350px;
    }
    .contactUs_Message textarea{
        height: 100px;
    }
    .contactUs_formMain{
        padding: 15px 35px;
    }
}

@media only screen and (max-width: 950px){
    .contactUs_map iframe{
        width:400px;
    }
    .contactUs_NameInputBar, .contactUs_EmailInputBar, .contactUs_SubjectInputBar, .contactUs_MessageInputBar{
        width: 330px;
    }
    .contactUs_Message textarea{
        height: 100px;
    }
    .contactUs_formMain{
        padding: 10px 30px;
    }
}

@media only screen and (max-width: 900px){
    .contactUs_map iframe{
        width:370px;
    }
    .contactUs_NameInputBar, .contactUs_EmailInputBar, .contactUs_SubjectInputBar, .contactUs_MessageInputBar{
        width: 310px;
    }
    .contactUs_Message textarea{
        height: 90px;
    }
    .contactUs_formMain{
        padding: 10px 30px;
    }
}
@media only screen and (max-width: 850px){
    .contactUs_form_map{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .contactUs_formMain{
        margin: auto;
    }
    .contactUs_map{
        margin: auto;
        text-align: center;
    }
    .contactUs_map iframe{
        width:480px;
        height: 500px;
        text-align: center;
    }
    .contactUs_NameInputBar, .contactUs_EmailInputBar, .contactUs_SubjectInputBar, .contactUs_MessageInputBar{
        width: 450px;
    }
}

@media only screen and (max-width: 650px){
    .contactUs_map iframe{
        width:450px;
        height: 450px;
    }
    .contactUs_NameInputBar, .contactUs_EmailInputBar, .contactUs_SubjectInputBar, .contactUs_MessageInputBar{
        width: 425px;
    }
}

@media only screen and (max-width: 600px){
    .contactUs_map iframe{
        width:460px;
        margin-top: 20px;
        height: 430px;
    }
    .contactUs_NameInputBar, .contactUs_EmailInputBar, .contactUs_SubjectInputBar, .contactUs_MessageInputBar{
        width: 400px;
    }
    .contactUs_containerBox{
        margin: auto;
    }
}
@media only screen and (max-width: 550px){
    .contactUs_map iframe{
        width:420px;
    }
    .contactUs_NameInputBar, .contactUs_EmailInputBar, .contactUs_SubjectInputBar, .contactUs_MessageInputBar{
        width: 360px;
    }
}

@media only screen and (max-width: 500px){
    .contactUs_map iframe{
        width:380px;
        height: 400px;
    }
    .contactUs_NameInputBar, .contactUs_EmailInputBar, .contactUs_SubjectInputBar, .contactUs_MessageInputBar{
        width: 320px;
    }
}

@media only screen and (max-width: 400px){
    .contactUs_map iframe{
        width:340px;
        height: 360px;
    }
    .contactUs_NameInputBar, .contactUs_EmailInputBar, .contactUs_SubjectInputBar, .contactUs_MessageInputBar{
        width: 280px;
    }
}

@media only screen and (max-width: 350px){
    .contactUs_map iframe{
        width:300px;
        height: 330px;
    }
    .contactUs_NameInputBar, .contactUs_EmailInputBar, .contactUs_SubjectInputBar, .contactUs_MessageInputBar{
        width: 240px;
    }
}